.container {
    display: grid;
    grid-template-columns: repeat(6, minmax(160px, 1fr));
    gap: 0.6rem;
    padding:4rem
}

button {
    border: 0;
    background-color: white;
    border-radius: 6px;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: rgb(225, 222, 222);
}

@media (max-width: 1150px) {
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 0.2rem;
        padding:1rem
    }
}
