nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-top: 2.5rem;
    background-color: white;
    border-radius: 8px;

}

h1, h2 {
    margin: 0;
    padding: 0;
    font-size: 50px;
}

h1 {
    font-size: 80px;
}
